In [16]:
import pandas as pd

In [17]:
check = pd.read_csv('/app/data/gold/emory_gold.csv')

In [18]:
check.hospital_name.unique()

array(['Emory Decatur Hospital', 'Emory Hillandale Hospital',
       'Emory Johns Creek Hospital',
       'Emory Long Term Acute Care Hospital',
       'Emory Rehabilitation Hospital', 'Emory Saint Joseph S Hospital',
       'Emory University Hospital', 'Emory University Hospital Midtown'],
      dtype=object)

In [19]:
check.describe(include='all')

,hospital_name,billing_code,billing_code_type,procedure_type,setting,payer,plan,min_rate,max_rate,median_rate,record_count
count,21394,21394,21394,21394,21394,21394,21394,21394.000000,2.139400e+04,2.139400e+04,21394.0
unique,8,910,2,908,2,26,22,NaN,NaN,NaN,NaN
top,Emory University Hospital,5025,MS-DRG,Type A ED Visits Level 5,inpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN
freq,4794,178,10976,178,10976,4098,6643,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6167.868925,3.370738e+04,1.541363e+04,1.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11679.340956,7.871765e+04,3.826616e+04,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.682000e+01,1.000000e+00,1.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177.350000,5.424480e+03,1.494525e+03,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2366.940000,1.690603e+04,7.151995e+03,1.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7607.327500,3.468644e+04,1.693735e+04,1.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325531.630000,2.581887e+06,2.581887e+06,1.0

In [20]:
check[check.hospital_name == 'Emory University Hospital'].describe(include='all')

,hospital_name,billing_code,billing_code_type,procedure_type,setting,payer,plan,min_rate,max_rate,median_rate,record_count
count,4794,4794,4794,4794,4794,4794,4794,4794.000000,4.794000e+03,4.794000e+03,4794.0
unique,1,688,2,683,2,19,15,NaN,NaN,NaN,NaN
top,Emory University Hospital,5572,MS-DRG,Imaging with Contrast Level 2,inpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN
freq,4794,31,2690,31,2690,1059,1437,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7074.153164,5.230940e+04,2.205031e+04,1.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13374.034202,1.123424e+05,5.458650e+04,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.270000,1.682000e+01,1.270000e+00,1.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.110000,7.911900e+03,2.239863e+03,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2385.670000,2.267525e+04,9.603610e+03,1.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8956.900000,5.094242e+04,2.222559e+04,1.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318837.590000,1.602135e+06,1.602135e+06,1.0

In [21]:
check.describe(include='all')
inpatient = check[check['setting'] == 'inpatient']
outpatient = check[check['setting'] == 'outpatient']

In [22]:
inpatient.describe(include='all')

,hospital_name,billing_code,billing_code_type,procedure_type,setting,payer,plan,min_rate,max_rate,median_rate,record_count
count,10976,10976,10976,10976,10976,10976,10976,10976.000000,1.097600e+04,1.097600e+04,10976.0
unique,8,702,1,700,1,23,19,NaN,NaN,NaN,NaN
top,Emory University Hospital,871,MS-DRG,Septicemia Or Severe Sepsis Without Mv >96 Hou...,inpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN
freq,2690,108,10976,108,10976,2139,4012,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11105.454697,5.547992e+04,2.619585e+04,1.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14478.697698,1.045406e+05,5.066618e+04,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,1.175640e+03,1.000000e+03,1.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3672.000000,1.782214e+04,8.889575e+03,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7070.440000,2.931322e+04,1.497822e+04,1.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13531.530000,5.628586e+04,2.780538e+04,1.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325531.630000,2.581887e+06,2.581887e+06,1.0

In [23]:
inpatient[inpatient.median_rate > 2000000]

,hospital_name,billing_code,billing_code_type,procedure_type,setting,payer,plan,min_rate,max_rate,median_rate,record_count
1,Emory Decatur Hospital,004,MS-DRG,Tracheostomy With Mv >96 Hours Or Principal Di...,inpatient,BCBS,PPO,107756.42,2581887.23,2581887.23,1

In [38]:
outpatient[outpatient.procedure_type == 'Airway Endoscopy Level 3'][['hospital_name', 'payer', 'plan']].drop_duplicates().sort_values(['hospital_name', 'payer', 'plan'])

,hospital_name,payer,plan
1697,Emory Decatur Hospital,Aetna,Medicare Managed Care Plan
1698,Emory Decatur Hospital,Ambetter Health,Peach State Exchange
7014,Emory Johns Creek Hospital,Aetna,Medicare Managed Care Plan
7015,Emory Johns Creek Hospital,BCBS,Blue Value Secure Medicare Managed Care Plan
7016,Emory Johns Creek Hospital,BCBS,PPO
7017,Emory Johns Creek Hospital,Cigna,HMO/POS
7018,Emory Johns Creek Hospital,Humana,Medicare Managed Care Plan
7019,Emory Johns Creek Hospital,Oscar Health,All Commercial Plans
7020,Emory Johns Creek Hospital,Peach State Health Plan,Exchange
7021,Emory Johns Creek Hospital,UnitedHealthCare,HMO
7022,Emory Johns Creek Hospital,UnitedHealthCare,Medicare Managed Care Plan
10344,Emory Saint Joseph S Hospital,Aetna,HMO/POS
10345,Emory Saint Joseph S Hospital,BCBS,Blue Value Secure Medicare Managed Care Plan
10346,Emory Saint Joseph S Hospital,BCBS,HMO
10347,Emory Saint Joseph S Hospital,BCBS,PPO
10348,Emory Saint Joseph S Hospital,BCBS,Pathways Other Commercial Plan
10349,Emory Saint Joseph S Hospital,Cigna,HMO/POS
10350,Emory Saint Joseph S Hospital,Kaiser,HMO
10351,Emory Saint Joseph S Hospital,Kaiser,Medicare Managed Care Plan
10352,Emory Saint Joseph S Hospital,Peach State Health Plan,Exchange
10353,Emory Saint Joseph S Hospital,UnitedHealthCare,HMO
14380,Emory University Hospital,Aetna,Exchange
14381,Emory University Hospital,BCBS,Blue Value Secure Medicare Managed Care Plan
14382,Emory University Hospital,BCBS,HMO
14383,Emory University Hospital,BCBS,PPO
14384,Emory University Hospital,BCBS,Pathways Other Commercial Plan
14385,Emory University Hospital,Cigna,HMO/POS
14386,Emory University Hospital,Humana,Medicare Managed Care Plan
14387,Emory University Hospital,UnitedHealthCare,HMO
14388,Emory University Hospital,UnitedHealthCare,Medicare Managed Care Plan
18812,Emory University Hospital Midtown,Aetna,Exchange
18813,Emory University Hospital Midtown,Aetna,HMO/POS
18814,Emory University Hospital Midtown,Aetna,Medicare Managed Care Plan
18815,Emory University Hospital Midtown,Amerigroup,Medicaid Managed Care Plan
18816,Emory University Hospital Midtown,BCBS,Blue Value Secure Medicare Managed Care Plan
18817,Emory University Hospital Midtown,BCBS,HMO
18818,Emory University Hospital Midtown,BCBS,PPO
18819,Emory University Hospital Midtown,BCBS,Pathways Other Commercial Plan
18820,Emory University Hospital Midtown,Cigna,HMO/POS
18821,Emory University Hospital Midtown,Humana,Medicare Managed Care Plan
18822,Emory University Hospital Midtown,Kaiser,HMO
18823,Emory University Hospital Midtown,Kaiser,Medicare Managed Care Plan
18824,Emory University Hospital Midtown,Oscar Health,All Commercial Plans
18825,Emory University Hospital Midtown,Peach State,Medicaid Managed Care Plan
18826,Emory University Hospital Midtown,Peach State Health Plan,Exchange
18827,Emory University Hospital Midtown,UnitedHealthCare,HMO
18828,Emory University Hospital Midtown,UnitedHealthCare,Medicare Managed Care Plan
18829,Emory University Hospital Midtown,UnitedHealthCare,PPO

In [27]:
outpatient[outpatient.procedure_type == 'CT and CTA without Contrast Composite'].hospital_name.unique()

array(['Emory Decatur Hospital'], dtype=object)

In [26]:
outpatient.describe(include='all')

,hospital_name,billing_code,billing_code_type,procedure_type,setting,payer,plan,min_rate,max_rate,median_rate,record_count
count,10418,10418,10418,10418,10418,10418,10418,10418.000000,10418.000000,10418.000000,10418.0
unique,7,208,1,208,1,26,21,NaN,NaN,NaN,NaN
top,Emory Decatur Hospital,5025,APC,Type A ED Visits Level 5,outpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN
freq,2456,178,10418,178,10418,1959,2631,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,965.820411,10768.671161,4053.900749,1.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2553.440252,13622.939147,7145.230294,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,16.820000,1.000000,1.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.150000,1708.000000,355.230000,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.810000,5424.480000,1460.710000,1.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,796.060000,13254.230000,4657.200000,1.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100707.050000,108073.240000,108073.240000,1.0

In [72]:
inpatient['plan'].unique()

array(['Exchange', 'HMO', 'Pathways Other Commercial Plan',
       'Medicare Managed Care Plan', 'PPO', 'Medicaid Managed Care Plan',
       'Blue Value Secure Medicare Managed Care Plan',
       'HealthSpring Medicare Managed Care Plan', 'HMO/POS',
       'All Commercial Plans', 'Other Commercial Plan',
       'HPN Other Commercial Plan', 'Behavioral Health Plan'],
      dtype=object)