In [63]:
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [74]:
check = pd.read_csv('/app/data/gold/emory_gold.csv')

In [79]:
check

,hospital_name,billing_code,procedure_type,level,payer,plan,min_rate,max_rate,median_rate,record_count
0,Emory University Hospital,001,Heart Transplant Or Implant Of Heart Assist Sy...,1,Aetna,Exchange,36969.83,1602134.51,1602134.51,1
1,Emory University Hospital,001,Heart Transplant Or Implant Of Heart Assist Sy...,1,BCBS,HMO,36969.83,1602134.51,168439.38,1
2,Emory University Hospital,001,Heart Transplant Or Implant Of Heart Assist Sy...,1,BCBS,Pathways Other Commercial Plan,36969.83,1602134.51,270649.38,1
3,Emory University Hospital,001,Heart Transplant Or Implant Of Heart Assist Sy...,1,Clover,Medicare Managed Care Plan,36969.83,1602134.51,236430.08,1
4,Emory University Hospital,001,Heart Transplant Or Implant Of Heart Assist Sy...,1,Humana,Medicare Managed Care Plan,36969.83,1602134.51,310809.98,1
...,...,...,...,...,...,...,...,...,...,...
4789,Emory University Hospital,N905,Not Recognized by OPPS,1,Peach State,Medicaid Managed Care Plan,33.37,223.94,42.24,1
4790,Emory University Hospital,N905,Not Recognized by OPPS,1,Peach State Health Plan,Exchange,33.37,223.94,33.37,1
4791,Emory University Hospital,N905,Not Recognized by OPPS,1,UnitedHealthCare,HMO,33.37,223.94,220.26,1
4792,Emory University Hospital,N905,Not Recognized by OPPS,1,UnitedHealthCare,Medicare Managed Care Plan,33.37,223.94,113.26,1
4793,Emory University Hospital,N905,Not Recognized by OPPS,1,UnitedHealthCare,PPO,33.37,223.94,223.94,1

In [75]:
check.describe(include='all')
inpatient = check[check['billing_code_type'] == 'MS-DRG']
outpatient = check[check['billing_code_type'] == 'APC']

KeyError: 'billing_code_type'

In [76]:
inpatient.describe(include='all')

,hospital_name,address,effective_date,billing_code_type,billing_code,description,billing_class,setting,payer,plan,min_negotiated_rate,max_negotiated_rate,estimated_amount,level,procedure_type
count,2690,2690,2690,2690,2690,2690,2690,2690,2690,2690,2690.000000,2.690000e+03,2.690000e+03,2690.0,2690
unique,1,1,1,1,533,528,1,1,17,13,NaN,NaN,NaN,NaN,528
top,Emory University Hospital,"1364 Clifton Rd NE, Atlanta, GA 30322",2025-10-01,MS-DRG,291,Heart Failure And Shock With Mcc,facility,inpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN,Heart Failure And Shock With Mcc
freq,2690,2690,2690,2690,19,19,2690,2690,632,941,NaN,NaN,NaN,NaN,19
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11813.005613,8.357058e+04,3.572440e+04,1.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16271.473663,1.417881e+05,6.959432e+04,0.0,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.460000,1.180030e+03,1.002460e+03,1.0,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2685.700000,2.161390e+04,1.062877e+04,1.0,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7656.630000,4.046356e+04,1.823319e+04,1.0,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15291.452500,8.719090e+04,3.487244e+04,1.0,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318837.590000,1.602135e+06,1.602135e+06,1.0,NaN

In [70]:
outpatient['payer'].unique()

array(['Aetna', 'BCBS', 'Cigna', 'Kaiser', 'Oscar Health',
       'Peach State Health Plan', 'Humana', 'UnitedHealthCare',
       'Amerigroup', 'CareSource', 'Peach State', 'Clover', 'Wellcare',
       'Optum', 'Sonder Health Plans', 'PHCS', 'Contigo COE',
       'Beechstreet', 'Multiplan'], dtype=object)

In [60]:
outpatient.describe(include='all')

,hospital_name,address,effective_date,billing_code_type,billing_code,description,billing_class,setting,payer,plan,min_negotiated_rate,max_negotiated_rate,estimated_amount,level,procedure_type
count,2104,2104,2104,2104,2104,2104,2104,2104,2104,2104,2104.000000,2104.000000,2104.000000,2104.000000,2104
unique,1,1,1,1,155,155,1,1,19,15,NaN,NaN,NaN,NaN,59
top,Emory University Hospital,"1364 Clifton Rd NE, Atlanta, GA 30322",2025-10-01,APC,5572,Level 2 Imaging with Contrast,facility,outpatient,BCBS,Medicare Managed Care Plan,NaN,NaN,NaN,NaN,Imaging without Contrast
freq,2104,2104,2104,2104,31,31,2104,2104,427,496,NaN,NaN,NaN,NaN,113
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.449225,12341.454173,4567.753531,2.959601,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1915.352243,14503.449250,7290.358123,3.029540,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.270000,16.820000,1.270000,1.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.120000,1949.620000,380.067500,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.820000,6611.320000,1859.805000,2.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310.520000,16608.120000,5513.590000,4.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21477.800000,93735.370000,93735.370000,22.000000,NaN

In [72]:
inpatient['plan'].unique()

array(['Exchange', 'HMO', 'Pathways Other Commercial Plan',
       'Medicare Managed Care Plan', 'PPO', 'Medicaid Managed Care Plan',
       'Blue Value Secure Medicare Managed Care Plan',
       'HealthSpring Medicare Managed Care Plan', 'HMO/POS',
       'All Commercial Plans', 'Other Commercial Plan',
       'HPN Other Commercial Plan', 'Behavioral Health Plan'],
      dtype=object)